{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<section class="about">
<div>
    <img class="me" src="{% static 'images/me.png' %}" >
    <h2>About Me!</h2>
    <p>I'm <span>Divine Angel Pialago</span>, BSIT Student at Cavite State <br> University Bacoor Campus, from <span>Las Piñas City</span>.<br>
    I'm navigating the many academic spheres while <br>
    appreciating the pleasures of studying, interacting with<br> peers,
    and researching interesting topics.</p>
</div>
</section>
{% endblock content %}    
