{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <h1 class="hbs"><span>My</span>Art</h1>
    <section>
        <main class="hobbies">
    <div class="wrapper">
        <img class="art" src="{% static 'images/art1.jpg' %}">
    </div>
    <div class="wrapper">
        <img class="art" src="{% static 'images/art2.jpg' %}">
    </div>
    <div class="wrapper">
        <img class="art" src="{% static 'images/art3.jpg' %}">
    </div>
        </main>
    </section> 
    <section>
        <main class="hobbies">
    <div class="wrapper">
        <img class="art" src="{% static 'images/art4.jpg' %}">
    </div>
    <div class="wrapper">
        <img class="art" src="{% static 'images/art5.jpg' %}">
    </div>
    <div class="wrapper">
        <img class="art" src="{% static 'images/art6.jpg' %}">
    </div>
        </main>
    </section>                 
{% endblock content %}